<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css')}}" />
</head>
<body>
    <img src="{{ url_for('static', filename = 'website_img.jpg')}}" alt="Image of Brittanie Morgan">
    <hr><h1>Brittanie Morgan</h1><hr>
    <p> I am a final year university student pursuing a Bachelor of Science in Software Engineering. I have a great
        passion for technology and whether it's web development or machine learning, I'm always excited to dive in
        and make things happen. Outside of software development, you can find me baking, watching televison series,
        and practicing Spanish.
    </p>
</body>
</html>